.main{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.heading h1{
    color:#030e12;
    font-size: 48px;
    font-weight:900;
    letter-spacing: 1px;
    padding-top:2rem;
    margin: 1rem;
}
.searchbar{
    margin: 1rem 0;
    width:400px;
    height:40px;
    border:none;
    outline:none;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
}

.container{
    width: 100%;
    margin:25px auto;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    grid-gap: 2rem;
}
